*{
    background-image: src("../media/logo.png");
}
body{
    width:2000px;
    height:2000px;
    background-color: rgb(0, 255, 102);
}
.app{
    width:2000px;
    height:2000px;
    
}
.show{
    background-color: aqua;
}
.buttons{
    background-color: black;
}
.dark-mode{
    background-color: green;
}
.light-mode{
    background-color: white;
}